<div class="ui four column grid">
  <div class="column">
    <div class="ui form">
      <%= simple_form_for(@item) do |f| %>
        <%= f.input :name, class: 'field' %>
        <%= f.input :model, class: 'field' %>
        <%= f.button :submit, class: 'ui button' %>
      <% end %>
    </div>
  </div>
</div>
